ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1158px;
}

.gallery {
  padding-top: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-image {
  object-fit: cover;
  width: 360px;
  aspect-ratio: 360 / 200;

  transition: transform 0.3s;
}

.gallery-image:hover {
  transform: scale(1.05);
}

.modal-img {
  max-width: 1112px;
  aspect-ratio: 1112 / 640;
}
